* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey: #5e5e5e;
    --black: #333;
    --blue: #377ea4;
    --dark-green: #195c70;
    --light-green: #81aebb;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    gap: 2rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form>h3 {
    margin: .4rem 0;
}

input,
textarea {
    margin-bottom: 8px;
    width: 518px;
    border: 1px solid black;
    border-radius: 2px;
    display: block;
    font-size: .8rem;
}

input {
    height: 30px;
    text-indent: 5px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

textarea {
    height: 70px;
    font-family: inherit;
    resize: none;
    padding: 5px;
}

.preview {
    width: 600px;
    height: 850px;
    padding: 2.5rem;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.preview--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .65rem;
    border-bottom: 3px solid var(--light-green);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.preview--header--name-title>h1 {
    font-size: 2rem;
    color: var(--dark-green);
    letter-spacing: .05rem;
}

.preview--header--name-title>h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.preview--contact>p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}

.preview--contact>p:last-child {
    margin-bottom: 0;
}

.preview--contact>p>span {
    font-size: 16px;
}

.preview>h4 {
    color: var(--blue);
    font-weight: 600;
    letter-spacing: .05rem;
    margin-top: .6rem;
    margin-bottom: .4rem;
}

.preview>p,
.preview--work--job-info>span,
.preview--work--details>span,
.preview--education--info>span,
.preview--education--details>span {
    font-size: .8rem;
}

.preview--work--job-info,
.preview--education--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.preview--work--job-title,
.preview--work--company,
.preview--work--dates,
.preview--education--degree,
.preview--education--school,
.preview--education--dates {
    color: var(--grey);
}

.preview--work--job-title,
.preview--work--dates,
.preview--education--degree,
.preview--education--dates {
    font-weight: 600;
}